.layer-highlight {
    stroke: #3388ff; /* Цвет обводки для подсветки слоя */
    stroke-width: 3px; /* Ширина обводки */
    fill: none; /* Без заливки */
    pointer-events: none; /* Отключаем взаимодействие с элементом через указатель */
}

.geoHightTooltip {
    background: white;
    padding: 1px 3px 1px 3px;
}
